
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 33% 96%;
    --foreground: 202 54% 15%;
    --card: 0 0% 100%;
    --card-foreground: 202 54% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 202 54% 15%;
    --primary: 202 54% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 67% 96%;
    --secondary-foreground: 240 67% 30%;
    --muted: 200 20% 90%;
    --muted-foreground: 202 20% 40%;
    --accent: 240 67% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 20% 88%;
    --input: 202 20% 88%;
    --ring: 202 54% 43%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
}
